.caixa {
    display: flex;
    background-color: rgb(237, 237, 171);
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    justify-content: space-evenly;
    background-color: violet;
    margin-left: 25px;
    border-radius: 20px;
    width: 250px;
}

.card img {
    width: 250px;
    height: 300px;
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    justify-self: center;
    margin-bottom: 10px;
}

.cardoff {
    display: flex;
    gap: 10px;
    align-items: center;
}

.desconto {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.oferta {
    color: red;
}

.preco{
    display: flex;
    margin-left: 10px;
    gap: 20px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.atual{
    font-size: 24px;
}

.passado{
    text-decoration: line-through;
    color: gray;
}

.preco p{
    margin-top: 10px;
    margin-bottom: 5px;
}